.DS_Store
client/package-lock.json
client/src/contracts/Migrations.json
client/src/contracts/SimpleStorage.json
client/src/contracts/Study.json
client/src/contracts/Lab.json
node_modules/*
package.json
package-lock.json
