.row {
  width: 100%;
  background: gray;
  text-align: center;
}
.col {
  padding: 10px;
  float: left;
}
.br {
  clear:both
}

.header {
  .background {
  }
  .left {
    position: relative;
    min-height: 1px;
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
    .title {
      width: 484px;
      height: 52px;
      object-fit: contain;
      font-family: SpoqaHanSans;
      font-size: 35px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-left: 137px;
      margin-top: 93px;
    }
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  .introduction {
    .about {
      font-size: 2.125rem;
      line-height: 2.625rem;
      font-weight: normal;
      font-family: 'OpenSans-Light', Arial, sans-serif;
    }
  }
}
